* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Background */
.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #edf0ffcc, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Form Card */
#myForm {
    height: 500px;   /* SAME SIZE */
    width: 350px;    /* SAME SIZE */
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

/* Title */
#myForm h1 {
    /* margin-bottom: 5px; */
    font-size: xx-large;
    color: #764ba2;
}

/* Labels */
#myForm label {
    font-weight: bold;
    font-size: 12px;
    color: #444;
}

/* Inputs */
#myForm input {
    width: 90%;
    padding: 4px;
    margin-top: 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

/* Input Focus Effect */
#myForm input:focus {
    border-color: #764ba2;
    outline: none;
    box-shadow: 0 0 5px rgba(118, 75, 162, 0.5);
}

/* Error Text */
.error {
    color: red;
    font-size: 11px;
    margin-top: 2px;
}

/* Button */
#myForm button {
    height: 40px;
    width: 100px;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

/* Button Hover */
#myForm button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}