.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.container {

    height: 100vh;
    width: 100%;
    background-color: rgba(253, 240, 215, 0.856);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#myForm {

    height: 500px;
    width: 350px;
    background-color: rgba(252, 233, 197, 0.932);
}

#myForm h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: rgb(95, 158, 160);
}
#myForm button{

    height: 50px;
    width: 100px;
    background-color: rgba(95, 158, 160, 0.747);
    font-size: large;
    font-weight: bold;
}